body {
    background-color: #eef7f3;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
}

header, footer {
    background-color: #0b6623;
    color: white;
    text-align: center;
    padding: 25px 20px;
}

nav a {
    color: #f6f6c9;
    text-decoration: none;
    margin: 0 12px;
    font-weight: bold;
}

main {
    max-width: 900px;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 15px;
}
